@font-face {
  font-family: 'Future Menu Brown';
  src: url('/assets/font.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Future Menu Brown, Brown, Helvetica, sans-serif;
  background-color: #000;
  color: #ccc;
  font-size: 0; /* to remove margins */
  text-align: center;
  scrollbar-color: #0000 #8888; /* for Firefox */
}

div {
  padding-top: 11px;
  min-height: 94vh; /* to fix footer */
}

p {
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

img {
  border: solid 2px;
  border-radius: 2px;
  border-color: #0000;
  font-size: 20px;
  transition-duration: 0.2s;
  outline: none;
}

img:hover {
  border-color: #8888;
}

img:active {
  border-color: #fffa;
}

img:focus {
  border-color: #fffa;
}

video {
  margin: 2px;
}

audio {
  background-color: #000;
  color: #ccc;
  font-size: 20px;
  margin: 2px;
  width: 780;
}

iframe {
  border: solid 2px;
  border-radius: 2px;
  border-color: #0000;
  font-size: 20px;
  transition-duration: 0.2s;
  outline: none;
}

iframe:hover {
  border-color: #8888;
}

iframe:active {
  border-color: #fffa;
}

iframe:focus {
  border-color: #fffa;
}

body::-webkit-scrollbar {
  height: 16px; /* height of the horizontal scrollbar */
  width: 16px; /* width of the vertical scrollbar */
  transition-duration: 0.2s;
}

body::-webkit-scrollbar-track {
  background: #0000; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #6668; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #8888; /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-thumb:active {
  background-color: #fffa; /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}

::selection {
  color: #000;
  background: #fff8;
}

::-moz-selection {
  color: #000;
  background: #fff8;
}

.txt {
  font-size: 20px;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.sub-txt {
  font-size: 20px;
  margin: auto;
  padding-bottom: 16px;
  width: 780px;
}

.page-img-big {
  padding: 0;
}

.img-big {
  height: 100vh;
  margin: 0;
  border: 0;
}

.img-sub-txt {
  text-align: justify;
}

.pxart {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

.header {
  margin: 0;
  border: none;
}

.footer {
  text-align: center;
  position: relative;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 0; /* to fix footer */
}

.button-container {
  font-size: 0; /* to remove spaces between buttons */
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  min-height: 0;
  min-width: 0;
}

.button:link {
  background-color: #6668;
  font-size: 20px; /* to remove margins */
  margin: 2px;
  padding-top: 4;
  padding-bottom: 4;
  width: 192px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 0.2s;
  outline: none;
}

.button:hover {
  background-color: #8888;
  border-radius: 4px;
}

.button:active {
  background-color: #fffa;
  border-radius: 2px;
}

.button:focus {
  background-color: #fffa;
  border-radius: 2px;
}

.button-return-container {
  position: fixed;
  top: 0;
  right: 63.5px;
}

.button-return:link {
  background-color: #6668;
  font-size: 20px; /* to remove margins */
  margin: 2px;
  padding: 4px;
  min-width: 40px;
  text-align: center;
  display: block;
  border-radius: 5px;
  transition-duration: 0.2s;
  outline: none;
  position: absolute;
}

.button-return:hover {
  background-color: #8888;
  border-radius: 4px;
}

.button-return:active {
  background-color: #fffa;
  border-radius: 2px;
}

.button-return:focus {
  background-color: #fffa;
  border-radius: 2px;
}
