body {
  margin: 0;
  font-family: consolas, monospace, fixed;
  background-color: #000;
  color: #ccc;
  font-size: 0px; /* to remove margins */
  text-align: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

div {
  padding-top: 11px;
  align-items: center;
  min-height: 94vh; /* to fix footer */
}

p {
  margin: 0px;
}

.ยง1 {
  font-size: 20px;
  margin: 4px;
}

.imgbig {
  height: 100vh;
}

.footer {
  text-align: center;
  position: relative;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 0; /* to fix footer */
}

a {
  color: #eee;
  text-decoration: none;
}

.button:link {
  background-color: #4444;
  padding: 5px 7px;
  text-align: center;
  display: inline-block;
}

.button:visited {
  background-color: #5554;
}

.button:hover {
  background-color: #8888;
}

.button:active {
  background-color: #fffa;
}

img {
  margin: 2px;
  font-size: 20px;
}

video {
  margin: 2px;
}

audio {
  font-size: 20px;
  margin: 2px;
}
