@font-face {
  font-family: "Future Menu Brown";
  src: url(/assets/fonts/fmb.ttf) format("truetype");
}
@keyframes home-intro {
  0% { opacity: 0; transform: rotate3d(1, 1, 0, 30deg); overflow-x: hidden; }
  99% { overflow-x: hidden; }
}
@keyframes home {
  100% { background-position: -32px 32px; }
}
@keyframes real {
  100% { background-position: 32px 0; }
}
@keyframes about {
  100% { background-position: 0 -32px; }
}
@keyframes random {
  100% { background-position: var(--random-position-x) var(--random-position-y); }
}
@keyframes spot {
  100% { background-position: 32px 32px; }
}
@keyframes help {
  100% { background-position: 0px 32px; }
}
@keyframes four-o-four {
  100% { background-position: 0 -256px; }
}
@keyframes image {
  0%   { background-position: 0 0; }
  25%  { background-position: 32px 0; }
  50%  { background-position: 32px 32px; }
  75%  { background-position: 0 32px; }
  100% { background-position: 0 0; }
}
@keyframes video {
  100% { background-position: 64px -64px; }
}
@keyframes sound {
  100% { background-position: -32px 0; }
}
@keyframes game {
  0%   { background-position: 0 32px; }
  50%  { background-position: -32px 0; }
  100% { background-position: 0 -32px; }
}
@keyframes page-img-big {
  0%   { background-position: 0 0; }
  25%  { background-position: 8px 8px; }
  50%  { background-position: 0 16px; }
  75%  { background-position: 8px 24px; }
  100% { background-position: 0 32px; }
}
@keyframes button-hover {
  0%   { background-color: #6668; box-shadow: inset 0 0 #0000; }
  50%  { background-color: #6668; }
  100% { background-color: #0000; box-shadow: inset 0 36px #8888; }
}
@keyframes button-return-hover {
  0%   { background-color: #6668; box-shadow: inset 0 0 #0000; }
  50%  { background-color: #6668; }
  100% { background-color: #0000; box-shadow: inset 0 48px #8888; }
}
@keyframes button-help-hover {
  0%   { background-color: #6668; box-shadow: inset 0 0 #0000; }
  50%  { background-color: #6668; }
  100% { background-color: #0000; box-shadow: inset 0 -48px #8888; }
}
@keyframes button-help-intro {
  0%   { bottom: -10vh; }
  100% { bottom: 16px; }
}
@keyframes button-spot-hover {
  0%   { background-color: #6668; box-shadow: inset 0 0 #0000; }
  50%  { background-color: #6668; }
  100% { background-color: #0000; box-shadow: inset 0 -64px #8888; }
}
@keyframes cursor-progress {
  6.25%  { cursor: url("/assets/cursors/progress1.png"),  progress; }
  12.5%  { cursor: url("/assets/cursors/progress2.png"),  progress; }
  18.75% { cursor: url("/assets/cursors/progress3.png"),  progress; }
  25%    { cursor: url("/assets/cursors/progress4.png"),  progress; }
  31.25% { cursor: url("/assets/cursors/progress5.png"),  progress; }
  37.5%  { cursor: url("/assets/cursors/progress6.png"),  progress; }
  43.75% { cursor: url("/assets/cursors/progress7.png"),  progress; }
  50%    { cursor: url("/assets/cursors/progress8.png"),  progress; }
  56.25% { cursor: url("/assets/cursors/progress9.png"),  progress; }
  66.66% { cursor: url("/assets/cursors/progress10.png"), progress; }
  62.5%  { cursor: url("/assets/cursors/progress11.png"), progress; }
  68.75% { cursor: url("/assets/cursors/progress12.png"), progress; }
  75%    { cursor: url("/assets/cursors/progress13.png"), progress; }
  81.25% { cursor: url("/assets/cursors/progress14.png"), progress; }
  87.5%  { cursor: url("/assets/cursors/progress15.png"), progress; }
  93.75% { cursor: url("/assets/cursors/progress16.png"), progress; }
  100%   { cursor: url("/assets/cursors/progress1.png"),  progress; }
}
@keyframes target {
  0%   { background-color: #8ff4; }
  80%  { background-color: #cff4; }
  100% { background-color: #0000; }
}
body {
  margin: 0;
  font-family: Future Menu Brown, Brown, Helvetica, sans-serif;
  background-color: #000;
  background-repeat: repeat;
  color: #ccc;
  font-size: 0;
  text-align: center;
  cursor: url(/assets/cursors/default.png) 0 0, auto;
  overflow: overlay;
  scrollbar-color: #0000 #8888;
}
div {
  padding-top: 12px;
  min-height: 100vh;
}
p {
  margin: 0;
  cursor: url(/assets/cursors/text.png) 4 12, text;
}
h1 {
  margin: 0 0 32px 0;
  cursor: url(/assets/cursors/text-big.png) 4 17, text;
  font-weight: normal;
}
h2 {
  margin: 8px 0 20px 0;
  cursor: url(/assets/cursors/text-big.png) 4 17, text;
  font-weight: normal;
}
h3 {
  margin: 8px 0 8px 0;
  cursor: url(/assets/cursors/text.png) 4 12, text;
  font-weight: normal;
}
a {
  color: #fff;
  text-decoration-color: #0000;
  cursor: url(/assets/cursors/pointer.png) 0 0, pointer;
  transition-duration: 0.2s;
}
a:hover {
  color: #8ee;
  background-color: #eff2;
  text-decoration-color: #8ee8;
  border-radius: 5px;
}
a:focus {
  color: #8ee;
  background-color: #eff4;
  text-decoration-color: #8ee;
  border-radius: 2px;
}
code {
  background-color: #6668;
  border-radius: 4px;
  padding: 2px;
  font-family: Consolas;
}
hr {
  border-top: none;
  border-color: #6668;
}
img {
  margin: 2px;
  border-radius: 0.01px;
  border: none;
  box-shadow: 0 0 0 0 #8888;
  font-size: 21px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  position: relative;
}
img:hover {
  background-color: #8888;
  box-shadow: 0 0 0 4px #8888;
}
img:active {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
img:focus {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
img[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: #888c;
  color: #fff;
  border: solid 2px;
  border-color: #8888;
  border-radius: 4px;
}
img[title]:active::after {
  position: absolute;
  background-color: #fffa;
  color: #888;
  border-color: #fff8;
  border-radius: 2px;
}
video {
  margin: 2px;
  border-radius: 0.01px;
  border: none;
  box-shadow: 0 0 0 0 #0000;
  font-size: 21px;
  transition-duration: 0.2s;
  position: relative;
}
video:hover {
  background-color: #8888;
  box-shadow: 0 0 0 4px #8888;
}
video:active {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
video:focus {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
audio {
  margin: 2px;
  border-radius: 0.01px;
  border: none;
  box-shadow: 0 0 0 0 #0000;
  font-size: 21px;
  transition-duration: 0.2s;
  position: relative;
}
audio:hover {
  background-color: #8888;
  box-shadow: 0 0 0 4px #8888;
}
audio:active {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
audio:focus {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
iframe {
  margin: 2px;
  border-radius: 0.01px;
  border: none;
  box-shadow: 0 0 0 0 #0000;
  font-size: 21px;
  transition-duration: 0.2s;
  position: relative;
}
iframe:hover {
  background-color: #8888;
  box-shadow: 0 0 0 4px #8888;
}
iframe:active {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
iframe:focus {
  background-color: #fffa;
  box-shadow: 0 0 0 4px #fffa;
}
mark {
  background-color: #8888;
  border-radius: 4px;
}
form {
  color: #eee;
  background-color: #6668;
  width: 780px;
  font-size: 21px;
  margin: 2px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 0.2s;
}
form:hover {
  background-color: #8888;
  border-radius: 4px;
}
input {
  color: #444;
  background-color: #fffc;
  width: 50%;
  font-size: 21px;
  margin: 4px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
  transition-duration: 0.2s;
  font-family: Future Menu Brown, Brown, Helvetica, sans-serif;
  cursor: url(/assets/cursors/text.png) 6 6, text;
}
input:hover {
  color: #222;
  background-color: #fffe;
  border-radius: 4px;
}
input:active {
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}
input:focus {
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}
input::selection {
  background: #444c;
  color: #fffc;
}
.input-button {
  margin-top: 0;
  margin-left: calc(80% - 4px);
  width: 20%;
  text-align: center;
  cursor: url(/assets/cursors/pointer.png) 0 0, pointer;
}
textarea {
  color: #444;
  background-color: #fffc;
  height: 84px;
  width: calc(100% - 12px);
  margin: 4px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.2s;
  resize: none;
  font-size: 21px;
  font-family: Future Menu Brown, Brown, Helvetica, sans-serif;
  cursor: url(/assets/cursors/text.png) 4 11, text;
  scrollbar-color: #8888 #fff0;
}
textarea:hover {
  color: #222;
  background-color: #fffe;
  border-radius: 4px;
}
textarea:active {
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}
textarea:focus {
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}
:focus-visible {
  outline: none;
}
:target {
  animation: target 5s ease-out normal;
  background-color: #0000;
  border-radius: 5px;
}
.m-t-8  { margin-top:     8px; }
.m-r-8  { margin-right:   8px; }
.m-b-8  { margin-bottom:  8px; }
.m-l-8  { margin-left:    8px; }
.m-t-16 { margin-top:    16px; }
.m-r-16 { margin-right:  16px; }
.m-b-16 { margin-bottom: 16px; }
.m-l-16 { margin-left:   16px; }
.home {
  animation: home 4s linear infinite, home-intro 1s ease-out normal;
  transition-duration: 0.2s;
  background-image: url(assets/bg/home.svg);
  background-attachment: fixed;
}
.realization {
  animation: real 4s linear infinite;
  background-image: url(/assets/bg/realization.svg);
  background-attachment: fixed;
}
.about {
  animation: about 4s linear infinite;
  background-image: url(/assets/bg/about.svg);
  background-attachment: fixed;
}
.random {
  animation: random 1s ease-in-out infinite;
  background-image: url(/assets/bg/random.svg);
  background-attachment: fixed;
}
.spotlight {
  animation: spot 4s linear infinite;
  background-image: url(/assets/bg/spotlight.svg);
  background-attachment: fixed;
}
.doc {
  font-size: 21px;
  text-align: left;
  margin: -128px 128px 64px 64px;
}
#help-body {
  cursor: url(/assets/cursors/default.png) 0 0, auto;
  background-image: url(/assets/bg/help.svg);
  animation: help 4s linear infinite;
  background-attachment: fixed;
}
#vhist-body {
  cursor: url(/assets/cursors/default.png) 0 0, auto;
  background-image: url(/assets/bg/vhist.svg);
  animation: help 4s linear infinite;
  background-attachment: fixed;
}
.four-o-four {
  animation: four-o-four 4s linear infinite;
  background-image: url(/assets/bg/404.svg);
  background-attachment: fixed;
}
.image {
  animation: image 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url(/assets/bg/image.svg);
  background-attachment: fixed;
}
.video {
  animation: video 4s linear infinite;
  background-image: url(/assets/bg/video.svg);
  background-attachment: fixed;
}
.sound {
  animation: sound 4s linear infinite;
  background-image: url(/assets/bg/sound.svg);
  background-attachment: fixed;
}
.game {
  animation: game 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url(/assets/bg/game.svg);
  background-attachment: fixed;
}
.page-img-big {
  animation: page-img-big 4s linear infinite;
  animation-timing-function: ease-in-out;
  padding: 0;
  background-image: url(/assets/bg/img-big.svg);
  background-attachment: fixed;
}
.drawing {
  animation: image 8s linear infinite;
  animation-timing-function: ease-out;
  background-image: url(/assets/bg/drawing.svg);
  background-attachment: fixed;
}
.imar {
  animation: real 4s linear infinite;
  background-image: url(/assets/bg/imar.svg);
  background-attachment: fixed;
}
.txt {
  font-size: 21px;
  margin: 0;
  padding: 0;
  min-height: 0;
}
.sub-txt {
  font-size: 21px;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 780px;
}
.sub-title {
  font-size: 25px;
  border-radius: 5px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-bottom: 4px;
  width: 780px;
}
.spot-sub-txt {
  font-size: 21px;
  margin: auto;
  padding-top: 0;
  padding-bottom: 32px;
  width: 780px;
}
.img-big {
  max-height: 80vh;
  max-width: 80%;
  margin: 5vh 0 0;
  border: 0;
  border-radius: 0;
  cursor: url(/assets/cursors/zoom-in.png) 5 5, zoom-in;
}
.img-big:hover {
  background-color: #0000;
  box-shadow: 0 0 0 0;
}
.img-big:active {
  background-color: #0000;
}
.img-sub-txt {
  padding-bottom: 128px;
  text-align: justify;
}
.img-title {
  color: #fff;
  font-size: 32px;
  padding-bottom: 0;
  cursor: url(/assets/cursors/text-big.png) 4 17, text;
}
.img-spot {
  z-index: 1;
}
.pxart {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
.header {
  border: none;
  border-radius: 0;
  margin: 0;
}
.footer {
  mix-blend-mode: difference;
  border-radius: 0;
  text-align: center;
  position: relative;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 0;
  z-index: -1;
}
.button-container {
  font-size: 0;
  margin: 0;
  margin-left: calc(50% - 784px / 2);
  padding-top: 16px;
  padding-bottom: 16px;
  min-height: 35px;
  width: 784px;
  cursor: url(/assets/cursors/default.png) 0 0, auto;
}
.button:link {
  background-color: #6668;
  font-size: 21px;
  margin: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 192px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.button:hover {
  border-radius: 4px;
  background-color: #8888;
  animation: button-hover ease-in 0.2s;
  transition-duration: 0.2;
}
.button:active {
  border-radius: 2px;
  background-color: #fffa;
}
.button:focus {
  color: #fff;
  background-color: #fffa;
  border-radius: 2px;
}
.button-return-container {
  position: fixed;
  top: 0;
  right: 64px;
}
.button-return {
  background-color: #6668;
  padding: 4px;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  transition-duration: 0.2s;
  position: absolute;
  top: 16px;
}
.button-return:hover {
  background-color: #8888;
  border-radius: 4px;
  animation: button-return-hover ease-in-out 0.2s;
}
.button-return:active {
  background-color: #fffa;
  border-radius: 2px;
}
.button-return:focus {
  background-color: #fffa;
  border-radius: 2px;
}
.button-help-container {
  position: fixed;
  bottom: 0;
  left: 16px;
}
.button-help {
  background-color: #6668;
  padding: 4px;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  transition-duration: 0.2s;
  position: absolute;
  bottom: 16px;
  animation: button-help-intro ease-out normal 2s;
}
.button-help:hover {
  background-color: #8888;
  border-radius: 4px;
  animation: button-help-hover ease-in-out 0.2s;
  animation: button-help-intro none;
}
.button-help:active {
  background-color: #fffa;
  border-radius: 2px;
}
.button-help:focus {
  background-color: #fffa;
  border-radius: 2px;
}
.button-spot:link {
  width: 110px;
  height: 26px;
  transform: rotate(270deg);
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 573px;
  left: calc(50vw - 464px);
  line-height: 21px;
}
.button-spot:hover {
  border-radius: 4px 4px 0 0;
  animation: button-spot-hover ease-in 0.4s;
}
.button-spot:active {
  border-radius: 2px 2px 0 0;
}
.button-spot:focus {
  border-radius: 2px 2px 0 0;
}
.container {
  position: relative;
  width: 192px;
  min-height: auto;
}
.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 192px;
  width: 192px;
  opacity: 0;
  transition: 0.2s;
}
.hover-text {
  color: #eee;
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 2px 4px;
  margin: 4px;
}
/* Pseudo-elements */
  /* Text selection */
    ::selection         { color: #000; background: #fff8; }
    ::-moz-selection    { color: #000; background: #fff8; }
    textarea::selection { color: #fffc; background: #444c; }
  /* Scrollbar */
    ::-webkit-scrollbar { width: 16px; height: 16px; transition-duration: 0.2s; }
    ::-webkit-scrollbar-track { background-color: #0000; }
    ::-webkit-scrollbar-thumb        { background-color: #6668; border-radius: 5px; }
    ::-webkit-scrollbar-thumb:hover  { background-color: #8888; border-radius: 4px; }
    ::-webkit-scrollbar-thumb:active { background-color: #fffa; border-radius: 2px; }
    /* Buttons */
        ::-webkit-scrollbar-button        { background-color: #6668; border-radius: 5px; }
        ::-webkit-scrollbar-button:hover  { background-color: #8888; border-radius: 4px; }
        ::-webkit-scrollbar-button:active { background-color: #fffa; border-radius: 2px; }
        ::-webkit-scrollbar-button:single-button { border-style: solid; display: block; height: 16px; width: 16px; }
      /* ˄ up */
        ::-webkit-scrollbar-button:single-button:vertical:decrement        { border-color: #0000 #0000 #6668 #0000; border-width: 8px; }
        ::-webkit-scrollbar-button:single-button:vertical:decrement:hover  { border-color: #0000 #0000 #8888 #0000; }
        ::-webkit-scrollbar-button:single-button:vertical:decrement:active { border-color: #0000 #0000 #fffa #0000; }
      /* > right */
        ::-webkit-scrollbar-button:single-button:horizontal:increment        { border-color: #0000 #0000 #0000 #6668; border-width: 8px; }
        ::-webkit-scrollbar-button:single-button:horizontal:increment:hover  { border-color: #0000 #0000 #0000 #8888; }
        ::-webkit-scrollbar-button:single-button:horizontal:increment:active { border-color: #0000 #0000 #0000 #fffa; }
      /* ˅ down */
        ::-webkit-scrollbar-button:single-button:vertical:increment        { border-color: #6668 #0000 #0000 #0000; border-width: 8px; }
        ::-webkit-scrollbar-button:single-button:vertical:increment:hover  { border-color: #8888 #0000 #0000 #0000; }
        ::-webkit-scrollbar-button:single-button:vertical:increment:active { border-color: #fffa #0000 #0000 #0000; }
      /* < left */
        ::-webkit-scrollbar-button:single-button:horizontal:decrement        { border-color: #0000 #6668 #0000 #0000; border-width: 8px; }
        ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover  { border-color: #0000 #8888 #0000 #0000; }
        ::-webkit-scrollbar-button:single-button:horizontal:decrement:active { border-color: #0000 #fffa #0000 #0000; }
    /* Corner */
      ::-webkit-scrollbar-corner { background-color: #0000; }
    /* Textarea */
      textarea::-webkit-scrollbar { width: 16px; height: 16px; transition-duration: 0.2s; }
      textarea::-webkit-scrollbar-track { background-color: #fff0; }
      textarea::-webkit-scrollbar-thumb        { background-color: #6664; border-radius: 5px; }
      textarea::-webkit-scrollbar-thumb:hover  { background-color: #4448; border-radius: 4px; }
      textarea::-webkit-scrollbar-thumb:active { background-color: #0008; border-radius: 2px; }