:root {
  --key-animation: key-pressed 1s;
}
svg {
  background: #222;
  filter: saturate(4);
  transition: .1s;
}
.invert {
  filter: invert(1);
  background: #ddd;
}
.hue {
  filter: hue-rotate(180deg);
}
.high-quality #keys rect { filter: drop-shadow(0 0 10px #fff); }
.high-quality #button-lights *.triggered { filter: drop-shadow(0 0 1px #fff); }
.high-quality #keys rect.color-1 { filter: drop-shadow(0 0 10px #f00); }
.high-quality #keys rect.color-2 { filter: drop-shadow(0 0 10px #ff0); }
.high-quality #keys rect.color-3 { filter: drop-shadow(0 0 10px #0f0); }
.high-quality #keys rect.color-4 { filter: drop-shadow(0 0 10px #0ff); }
.high-quality #keys rect.color-5 { filter: drop-shadow(0 0 10px #00f); }
.high-quality #keys rect.color-6 { filter: drop-shadow(0 0 10px #f0f); }
.high-quality #record-light.triggered { filter: drop-shadow(0 0 1px #f00); }
.high-quality #keys #k01.colored { filter: drop-shadow(0 0 10px #f002); }
.high-quality #keys #k02.colored { filter: drop-shadow(0 0 10px #ff02); }
.high-quality #keys #k03.colored { filter: drop-shadow(0 0 10px #0f02); }
.high-quality #keys #k04.colored { filter: drop-shadow(0 0 10px #0ff2); }
.high-quality #keys #k05.colored { filter: drop-shadow(0 0 10px #f0f2); }
.high-quality #keys #k06.colored { filter: drop-shadow(0 0 10px #f004); }
.high-quality #keys #k07.colored { filter: drop-shadow(0 0 10px #ff04); }
.high-quality #keys #k08.colored { filter: drop-shadow(0 0 10px #0f04); }
.high-quality #keys #k09.colored { filter: drop-shadow(0 0 10px #0ff4); }
.high-quality #keys #k10.colored { filter: drop-shadow(0 0 10px #f0f4); }
.high-quality #keys #k11.colored { filter: drop-shadow(0 0 10px #f008); }
.high-quality #keys #k12.colored { filter: drop-shadow(0 0 10px #ff08); }
.high-quality #keys #k13.colored { filter: drop-shadow(0 0 10px #0f08); }
.high-quality #keys #k14.colored { filter: drop-shadow(0 0 10px #0ff8); }
.high-quality #keys #k15.colored { filter: drop-shadow(0 0 10px #f0f8); }
.high-quality #keys #k16.colored { filter: drop-shadow(0 0 10px #f00c); }
.high-quality #keys #k17.colored { filter: drop-shadow(0 0 10px #ff0c); }
.high-quality #keys #k18.colored { filter: drop-shadow(0 0 10px #0f0c); }
.high-quality #keys #k19.colored { filter: drop-shadow(0 0 10px #0ffc); }
.high-quality #keys #k20.colored { filter: drop-shadow(0 0 10px #f0fc); }
.high-quality #keys #k21.colored { filter: drop-shadow(0 0 10px #f00); }
.high-quality #keys #k22.colored { filter: drop-shadow(0 0 10px #ff0); }
.high-quality #keys #k23.colored { filter: drop-shadow(0 0 10px #0f0); }
.high-quality #keys #k24.colored { filter: drop-shadow(0 0 10px #0ff); }
.high-quality #keys #k25.colored { filter: drop-shadow(0 0 10px #f0f); }
#keys rect {
  opacity: .5;
  fill: #0000;
  stroke: #fff;
  stroke-width: 0;
  width: 8px;
  height: 8px;
}
#keys rect:hover {
  fill: #fff;
  transition: .1s;
}
@keyframes key-pressed {
  0% {
    opacity: 1;
    stroke-width: 10px;
  }
  100% {
    opacity: 0;
  }
}
.pressed {
  animation: var(--key-animation);
}
#guides * {
  transition: .2s;
}
#guides circle {
  fill: #000;
  r: .5px;
}
#button-lights path {
  stroke: #000;
  stroke-linecap: round;
  stroke-width: .5px;
  transition: .2s;
}
#button-lights #no-fill path {
  fill: none;
}
#random-lights circle {
  r: 1px;
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}
#button-lights *.triggered {
  stroke: #fff;
}
#buttons *:active {
  fill-opacity: 0;
  stroke-width: 1px;
}
#keys rect.color-1 { stroke: #f00; }
#keys rect.color-2 { stroke: #ff0; }
#keys rect.color-3 { stroke: #0f0; }
#keys rect.color-4 { stroke: #0ff; }
#keys rect.color-5 { stroke: #00f; }
#keys rect.color-6 { stroke: #f0f; }
#keys rect.color-1:hover { fill: #f00; }
#keys rect.color-2:hover { fill: #ff0; }
#keys rect.color-3:hover { fill: #0f0; }
#keys rect.color-4:hover { fill: #0ff; }
#keys rect.color-5:hover { fill: #00f; }
#keys rect.color-6:hover { fill: #f0f; }
#small-keys rect {
  width: 4px;
  height: 4px;
}
#record-lights * {
  fill: #000;
}
#record-light.triggered {
  fill: #f00;
  stroke: #f00;
  d: path('m55 27c0 0 2 0 2 0s0 2 0 2-2 0-2 0 0-2 0-2z');
}
#record-play-light.triggered {
  fill: #fff;
  d: path('m55 37v-2l2 0v2z');
}
#record-play-light.triggered-2 {
  fill: #ff0;
  d: path('m55 37v-2l2 0v2z');
}
#high-quality-light.triggered {
  d: path('m-19 38h2m-2-1 2 2m-1-2v2m1-2-2 2');
}
#color-invert-light.triggered {
  d: path('m-11 37h2v2h-2zm1.8.2-1.6 1.6 1.6-1.2-1.2 1.2 1.2-.8-.8.8.8-.4-.4.4.4 0');
}
#color-behavior-light.triggered {
  d: path('m-14 38a.1.1 0 110 0c0 0 0 0 0 0s0 0 0 0zm0 1h0m1 0h0m-2-2h0m1 0h0m1 0h0m0 1h0m-2 0h0m0 1h0');
}
#color-hue-light.triggered {
  d: path('m-6 37a1 1 0 010 2 1 1 0 010-2zm0 1 0 1');
}
#keys #k01.colored { stroke: #f002; }
#keys #k02.colored { stroke: #ff02; }
#keys #k03.colored { stroke: #0f02; }
#keys #k04.colored { stroke: #0ff2; }
#keys #k05.colored { stroke: #f0f2; }
#keys #k06.colored { stroke: #f004; }
#keys #k07.colored { stroke: #ff04; }
#keys #k08.colored { stroke: #0f04; }
#keys #k09.colored { stroke: #0ff4; }
#keys #k10.colored { stroke: #f0f4; }
#keys #k11.colored { stroke: #f008; }
#keys #k12.colored { stroke: #ff08; }
#keys #k13.colored { stroke: #0f08; }
#keys #k14.colored { stroke: #0ff8; }
#keys #k15.colored { stroke: #f0f8; }
#keys #k16.colored { stroke: #f00c; }
#keys #k17.colored { stroke: #ff0c; }
#keys #k18.colored { stroke: #0f0c; }
#keys #k19.colored { stroke: #0ffc; }
#keys #k20.colored { stroke: #f0fc; }
#keys #k21.colored { stroke: #f00; }
#keys #k22.colored { stroke: #ff0; }
#keys #k23.colored { stroke: #0f0; }
#keys #k24.colored { stroke: #0ff; }
#keys #k25.colored { stroke: #f0f; }
#keys .colored:hover { fill: none; }
